<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Charles Babbage</title>
    <link rel="stylesheet" type="text/css" href="/css/babbage.css">
</head>
<body>
    <h1>Charles Babbage</h1><br>
   <img src="/img/babbage.jpg" width="250">
   <div>
    <p>
        <b>Charles Babbage</b><br>
        Charles Babbage, conocido por muchos como “El Padre de la computación”, nació según algunas fuentes 
        en Teignmouth (provincia de Devonshire, Reino Unido), el 26 de diciembre 1791, aunque según otras 
        nació en el 44 de Crosby Row, Walworth Road (Londres, Reino Unido). Era hijo de Benjamin Babbage y 
        Betsy Plumleigh Teape. Su padre era un rico banquero que le dio acceso a la educación en las escuelas 
        privadas más prestigiosas de la época, de las que cabe destacar el Trinity College en Cambridge.

        Babbage destacó sobre todo por su interés en los dispositivos mecánicos. Dicho interés le hizo aprender 
        matemáticas de forma autodidactica leyendo cualquier libro que le llegaba a las manos.
        
         A principio de los 1840 Babbage dio una conferencia en Turín a Federico Luigi, Conde de Menabrea, acerca
         de su máquina analítica publicando después las notas tomadas. Tiempo después Ada Byron se encargó de 
         traducir la publicación de Luigi añadiendo anotaciones propias, entre ellas programas que harían a la 
         máquina poder ejecutar cálculos más complejos como por ejemplo los números de Bernoulli. Es por esto 
         que Ada Byron, hoy en día más conocida como Lady Ada Lovelace, es considerada la primera programadora 
         de la historia. Babbage quedó tan impresionado con el entendimiento de Byron acerca de su máquina, que 
         fue su tutor y más tarde trabajaron juntos hasta tal punto que este le reconoció su talento apodándola 
         “ La Encantadora de Números”.
         Babbage murió solo a la edad de 79 años, el 18 de octubre de 1871. La autopsia reveló que la muerte fue
          debida a una insuficiencia renal causada por cistitis. Ninguno de sus hijos estuvo con él el día de su
           muerte pues estos habían emigrado. Fue enterrado en el cementerio de Kensal Green, Londres.

    </p>
   </div>
   <header>
        <nav>
            <ul>
                <li><a href="/">Volver</a></li>
            </ul>
        </nav>
    </header>
</body>
</html>