<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Berners-Lee</title>
    <link rel="stylesheet" type="text/css" href="/public/css/berners-lee.css">
</head>

<body>
    <h1>Berners-Lee</h1><br>
    <img src="/img/berners-lee.jpg" width="250">

    <p>
        <b>Berners-Lee</b> fue el creador en 1989 de la World Wide Web (WWW), un proyecto global de hipertexto que
        permitiría por primera vez al mundo trabajar conjuntamente en la red.

        Nacido en 1955 en el Reino Unido, se diplomó en física por la Universidad de Oxford e inició su actividad
        profesional en el CERN (Laboratorio Europeo de Física de las Partículas), con sede en Ginebra, en 1980, donde
        elaboró un programa llamado Enquire para almacenar y recuperar información a partir de asociaciones aleatorias.
        Ese programa inició el desarrollo del World Wide Web, que inventó a finales de 1990.
    </p>
    <p>
        Berners-Lee redactó el HTLM (Lenguaje de etiquetado hipertexto) estableciendo enlaces con otros documentos en
        una computadora y elaboró un esquema de direcciones que dio a cada página de la Red una localizacion única, o
        URL (localizador universal de recursos). Luego estableció unas reglas llamadas HTTP (Protocolo de transferencia
        de hipertexto), para transmitir información a través de la Red. En 1991 dio a los usuarios de Internet libre
        acceso a programas en el mundo entero. Los dos años siguientes perfeccionó el diseño de la Red aprovechando las
        observaciones de los que empleaban Internet.

        Tras abandonar el CERN en 1994, Berners-Lee se trasladó al laboratorio de informática del Massachusetts
        Institute of Technology (MIT) en Boston, donde es director del World Wide Web Consortium (W3C). La organización,
        que cuenta con más de 300 miembros de la industria mundial, inclusive gigantes como Microsoft e IBM, elabora
        normas técnicas para la Red.

        Saludado por la revista Time como uno de los 100 cerebros más preclaros del siglo XX, Berners-Lee, aparece como
        un modelo de modestia, pese al desarrollo y al éxito asombroso de su invento.

        Sentado en su despacho del W3C, sostiene que la Red aún se encuentra en pañales. "La meta definitiva es apoyar y
        mejorar a nivel mundial una existencia en que la Red será elemento decisivo", afirma, explicando que ésta ofrece
        medios sin precedentes para alcanzar mayor libertad y afianzar el progreso social. "Nos queda mucho por recorrer
        antes de que comprendamos todas las posibilidades que brinda".
    </p>


    <header>
        <nav>
            <ul>
                <li><a href="/">Volver</a></li>
            </ul>
        </nav>
    </header>
</body>

</html>