<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
</head>
<body>
    <h1>Pagina Principal</h1><br>
    <h2>Heroes tecnologicos de la programacion</h2>
    <header>
        <nav>
            <ul>
                <li><a href="/views/babbage.html">Babbage</a></li>
                <li><a href="/views/berners-lee.html">Berners</a></li>
                <li><a href="/views/clarke.html">Clarke</a></li>
                <li><a href="/views/hamilton.html">Hamilton</a></li>
                <li><a href="/views/hopper.html">Hopper</a></li>
                <li><a href="/views/lovelace.html">Lovelace</a></li>
                <li><a href="/views/turing.html">Turing</a></li>
            </ul>
        </nav>
    </header>
</body>
</html>