<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" type="text/css" href="/public/css/index.css">
</head>
<body>
    <h1>Pagina Principal</h1><br>
    <h2>Heroes tecnologicos de la programacion</h2>
    <header>

        <a href="babbage"><img src="/img/babbage.jpg" width="250" title="Charles Babbage"></a>
        <a href="berners-lee"><img src="/img/berners-lee.jpg" width="250" title="Berners-Lee"></a>
        <a href="clarke"><img src="/img/clarke.jpg" width="250" title="Joan Clarke"></a>
        <a href="hamilton"><img src="/img/hamilton.jpg" width="250" title="Margaret Hamilton"></a>
        <a href="hopper"><img src="/img/hopper.jpg" width="250" title="Grace Murray Hopper"></a>
        <a href="lovelace"><img src="/img/lovelace.jpg" width="250" title="Augusta Ada Lovelace"></a>
        <a href="turing"><img src="/img//turing.jpg" width="250" title="Alan Mathison Turing"></a>
        
    </header>
</body>
</html>