<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Augusta Ada Lovelace</title>
    <link rel="stylesheet" type="text/css" href="/css/lovelace.css">
</head>
<body>
    <h1 class="nombre">Augusta Ada Lovelace</h1>
    <img src="/img/lovelace.jpg" width="250">

    <div>
        <p>
            <b> Ada Lovelace</b>, la visionaria hija de lord Byron
Cuando nadie más vio el potencial de la máquina analítica creada por Charles Babbage, 
Ada Lovelace, una mujer adelantada a su época, fue capaz de desarrollar el primer algoritmo 
con capacidad para ser procesado por ese aparato, aunque nunca pudo probarlo.
Augusta Ada King, condesa de Lovelace, nació el 10 de diciembre de 1815, pero, 
apenas un mes después de venir al mundo, y debido a desavenencias conyugales,
 su madre abandonó el hogar familiar mientras Lord Byron dormía, llevándose 
 con ella a su hija recién nacida. Más tarde solicitó el divorcio de Byron al 
 parecer tras enterarse de que la hermanastra de su marido, Augusta Leigh 
 (por quien la niña llevaba el nombre), era también su amante. Tres meses más tarde, 
 el propio Byron tuvo que abandonar Inglaterra huyendo de sus acreedores y de numerosos escándalos. 
 Ada no volvería a ver nunca más a su padre, ya que su madre se aseguró su custodia amenazando a Byron
  con hacer públicas sus aventuras extraconyugales.
  Al cumplir los 18 años, y como cualquier otra joven aristócrata de su época, Ada empezó a asistir a 
  fiestas de la alta sociedad y en una de ellas, organizada por su tutora Mary Somerville, conoció al
   matemático Charles Babbage, que había diseñado una calculadora mecánica capaz de calcular tablas 
   de funciones numéricas por el método de diferencias. También diseñó, aunque nunca la llegó a construir, 
   una máquina analítica para ejecutar programas de tabulación o computación. Por estos inventos, 
   Babbage es considerado uno de los pioneros en concebir la idea de lo que hoy podríamos considerar 
   una computadora. El invento de Babbage entusiasmó a Ada, y lo más importante, la joven pensó que aquel 
   invento demostraba que un día no muy lejano las máquinas harían posible cambiar la vida de las personas.
        </p>

        
    </div>

    <header>
        <nav>
            <ul>
                <li><a href="babbage">Ir a Babbage</a></li>
                <li><a href="/">Volver</a></li>
            </ul>
        </nav>
    </header>

</body>
</html>