<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Alan Mathison Turing</title>
    <link rel="stylesheet" type="text/css" href="/css/turing.css">
</head>
<body>
<h1 class="nombre">Alan Mathison Turing</h1>

    <img src="/img/turing.jpg" width="250">
    <img src="/img/enigmanatgeo.jpg" width="250">
    

    <p>Fue famoso por descifrar el código nazi en la Segunda Guerra Mundial y pionero en otras ramas como la biología y la inteligencia 
        artificial, cuya contribución es imprescindible en el desarrollo de las tecnologías actuales. Lo recordamos a 108 años de su nacimiento.</p>
        
    <p><b>Alan Mathison Turing</b> nació el 23 de junio de 1912 en el barrio de Paddington, Londres. 
        Su familia era de clase media alta. Fue el segundo hijo de Julius y Sara,
         que permanecieron en la India durante varios años, por lo que pasó la infancia con su hermano mayor John.</p>
         <p>En 1928, en la escuela Sherborne conoció a su amigo Christopher Morcom, quien fallecería dos años después.
             Por este motivo es que Turing se interesa por el estudio de la mente humana a través de la física y la mecánica cuántica, 
             buscando la solución a la relación entre mente y materia. Al año siguiente en Cambridge, en el King's College, 
             encontró un método de estudio que permitía ideas más abiertas y allí consiguió distinguirse en lógica y matemática. 
             En 1936 le otorgaron un premio por sus investigaciones en la teoría de la probabilidad.</p>

        <p>En 1952, en la cumbre de su carrera, Turing fue juzgado y condenado por el gobierno británico debido a su homosexualidad y 
            tuvo que elegir entre ser encarcelado o someterse a la castración química. Eligió la segunda opción. Se le denegó acceso a las
             instalaciones de Bletchley Park. La situación lo llevó a una profunda depresión.

            Alan Turing falleció el 7 de junio de 1954, envenenado al morder una manzana con cianuro en su laboratorio. Los forenses determinaron 
            que fue un suicidio, teoría confirmada recién en 2012 por Jack Copeland, historiador y director del Archivo Turing de Historia de la Computación.</p>

            <p>En 1966 se creó un premio de ciencias computacionales en su honor, el Premio Alan Turing, equivalente al Nobel en esa rama de estudio.

                En la ciudad de Manchester se puede encontrar una estatua de Turing; había perdido su puesto de trabajo en aquella universidad tras ser acusado por el gobierno.</p>



<header>
    <nav>
        <ul>
            <li><a href="/">Volver</a></li>
        </ul>
    </nav>
</header>

</body>
</html>