*{
	font-family: "Calibri", sans-serif;
	font-weight: 100;
	font-size: 20px;

}
.imagen1 img{
    max-height: 100%;
  max-width: 100%;
	border: 2px solid black;
}
.imagen1{
    height: 200px;
    width: 200px;
}
	
.imagen2 img {
    max-height: 100%;
  max-width: 100%;
	border: 2px solid black;
}
.imagen2{
    height: 200px;
    width: 200px;
}
.nombre {
    font-size: 1cm;
}
.nombre1 {
    font-size: 0.5cm;
}